doctype html
html
    head
        title FAQ
        link(rel="stylesheet", href="css/style.css")
        link(rel="icon" href="../includs/icon-page1.jpg" sizes="96x96")
        script(src="https://kit.fontawesome.com/112897e29a.js" crossorigin="anonymous")
    body
        include ../includs/headerFile/header.pug

        //- Start Slider Box
        include ../includs/slider-pages/index.pug

        //- Start Faq Box
        .faq
            .container
                div(class="heading flex-center")
                    h2 Important FAQ
                    p Dummy text is also used to demonstrate the appearance of different typefaces and layouts
                div(class="content flexbetween")
                    .left-box
                        .head
                            h2 01. Playdo member
                        div(class="text")
                            h4 
                                i(class="fas fa-plus")
                                i(class="fas fa-minus")
                                |Redug Lefes Dolor Sit Amet.
                            p Playdo Studios has been creating innovative games since 2003. We offer our clients professional development services, ranging from concept prototyping.
                        div(class="text")
                            h4 
                                i(class="fas fa-plus")
                                i(class="fas fa-minus")
                                |Laboriosam Maiores Alias Accusamus
                            p Playdo Studios has been creating innovative games since 2003. We offer our clients professional development services, ranging from concept prototyping.
                        div(class="text")
                            h4 
                                i(class="fas fa-plus")
                                i(class="fas fa-minus")
                                |Mollitia Dolore Magnam Quidem Repellat
                            p Playdo Studios has been creating innovative games since 2003. We offer our clients professional development services, ranging from concept prototyping.
                        div(class="text")
                            h4 
                                i(class="fas fa-plus")
                                i(class="fas fa-minus")
                                |Quas Mollitia Dolore Magnam
                            p Playdo Studios has been creating innovative games since 2003. We offer our clients professional development services, ranging from concept prototyping.
                    .right-box
                        h2 Playdo member
                        p Playdo Studios has been creating innovative games since 2003. We offer our clients professional development services, ranging from concept prototyping.
                div(class="content flexbetween")
                    .left-box
                        .head
                            h2 02. Competition Player
                        div(class="text")
                            h4 
                                i(class="fas fa-plus")
                                i(class="fas fa-minus")
                                |Redug Lefes Dolor Sit Amet.
                            p Playdo Studios has been creating innovative games since 2003. We offer our clients professional development services, ranging from concept prototyping.
                        div(class="text")
                            h4 
                                i(class="fas fa-plus")
                                i(class="fas fa-minus")
                                |Laboriosam Maiores Alias Accusamus
                            p Playdo Studios has been creating innovative games since 2003. We offer our clients professional development services, ranging from concept prototyping.
                        div(class="text")
                            h4 
                                i(class="fas fa-plus")
                                i(class="fas fa-minus")
                                |Mollitia Dolore Magnam Quidem Repellat
                            p Playdo Studios has been creating innovative games since 2003. We offer our clients professional development services, ranging from concept prototyping.
                        div(class="text")
                            h4 
                                i(class="fas fa-plus")
                                i(class="fas fa-minus")
                                |Quas Mollitia Dolore Magnam
                            p Playdo Studios has been creating innovative games since 2003. We offer our clients professional development services, ranging from concept prototyping.
                    .right-box
                        h2 Competition Player
                        p Playdo Studios has been creating innovative games since 2003. We offer our clients professional development services, ranging from concept prototyping.
                div(class="content flexbetween")
                    .left-box
                        .head
                            h2 03. Games Control
                        div(class="text")
                            h4 
                                i(class="fas fa-plus")
                                i(class="fas fa-minus")
                                |Redug Lefes Dolor Sit Amet.
                            p Playdo Studios has been creating innovative games since 2003. We offer our clients professional development services, ranging from concept prototyping.
                        div(class="text")
                            h4 
                                i(class="fas fa-plus")
                                i(class="fas fa-minus")
                                |Laboriosam Maiores Alias Accusamus
                            p Playdo Studios has been creating innovative games since 2003. We offer our clients professional development services, ranging from concept prototyping.
                        div(class="text")
                            h4 
                                i(class="fas fa-plus")
                                i(class="fas fa-minus")
                                |Mollitia Dolore Magnam Quidem Repellat
                            p Playdo Studios has been creating innovative games since 2003. We offer our clients professional development services, ranging from concept prototyping.
                        div(class="text")
                            h4 
                                i(class="fas fa-plus")
                                i(class="fas fa-minus")
                                |Quas Mollitia Dolore Magnam
                            p Playdo Studios has been creating innovative games since 2003. We offer our clients professional development services, ranging from concept prototyping.
                    .right-box
                        h2 Games control
                        p Playdo Studios has been creating innovative games since 2003. We offer our clients professional development services, ranging from concept prototyping.
                div(class="content flexbetween")
                    .left-box
                        .head
                            h2 04. Payments System
                        div(class="text")
                            h4 
                                i(class="fas fa-plus")
                                i(class="fas fa-minus")
                                |Redug Lefes Dolor Sit Amet.
                            p Playdo Studios has been creating innovative games since 2003. We offer our clients professional development services, ranging from concept prototyping.
                        div(class="text")
                            h4 
                                i(class="fas fa-plus")
                                i(class="fas fa-minus")
                                |Laboriosam Maiores Alias Accusamus
                            p Playdo Studios has been creating innovative games since 2003. We offer our clients professional development services, ranging from concept prototyping.
                        div(class="text")
                            h4 
                                i(class="fas fa-plus")
                                i(class="fas fa-minus")
                                |Mollitia Dolore Magnam Quidem Repellat
                            p Playdo Studios has been creating innovative games since 2003. We offer our clients professional development services, ranging from concept prototyping.
                        div(class="text")
                            h4 
                                i(class="fas fa-plus")
                                i(class="fas fa-minus")
                                |Quas Mollitia Dolore Magnam
                            p Playdo Studios has been creating innovative games since 2003. We offer our clients professional development services, ranging from concept prototyping.
                    .right-box
                        h2 Payments system
                        p Playdo Studios has been creating innovative games since 2003. We offer our clients professional development services, ranging from concept prototyping.

        include ../includs/FooterFile/footer.pug
        script(src="../includs/headerFile/js/toggleheader.js")
        script(src="../includs/TitleName/check-title.js")
        script(src="js/toggle.js")