doctype html
html
    head
        title Games
        link(rel="stylesheet", href="css/style.css")
        link(rel="icon" href="../includs/icon-page1.jpg" sizes="96x96")
        script(src="https://kit.fontawesome.com/112897e29a.js" crossorigin="anonymous")
    body
        include ../includs/headerFile/header.pug
        include ../includs/slider-pages/index.pug
        include ../includs/games/index.pug
        include ../includs/FooterFile/footer.pug
        script(src="../includs/headerFile/js/toggleheader.js")
        script(src="../includs/TitleName/check-title.js")