doctype html
html
    head
        <meta charset="UTF-8">
        <meta name="description" content="Buy Our Games And Get Fun With Tour Friends And Win Rewards">
        <meta name="keywords" content="ExGames, Games, Exstream Games">
        <meta name="author" content="Yusuf & Mokhtar & Hager & Hadeer">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        title Games
        link(rel="stylesheet", href="css/style.css")
        link(rel="icon" href="../includs/icon-page1.jpg" sizes="96x96")
        script(src="https://kit.fontawesome.com/112897e29a.js" crossorigin="anonymous")
    body
        include ../includs/headerFile/header.pug
        include ../includs/slider-pages/index.pug
        //- Start Games Box
        .games
            .container
                div(class="content flexbetween")
                    a(href="../pubg/pubg.html")
                        .box
                            img(src="images/pubg1.jpg", alt="")
                            .text
                                h3 Pubg
                                p PlayerUnknown's Battlegrounds (PUBG) is an online multiplayer battle royale game developed and published by PUBG Corporation, a subsidiary of South Korean video game company Bluehole.
                    a(href="../freefire/freefire.html")
                        .box
                            img(src="images/freefire.jpg", alt="")
                            .text
                                h3 Free Fire
                                p Game play. Garena Free Fire is an online-only action-adventure battle royale game played in a third person perspective. 
                    a(href="../call of duty/call-of-duty.html")
                        .box
                            img(src="images/call-of-duty.jpg", alt="")
                            .text
                                h3 Call of Duty
                                p Call Of Duty (short form: CoD) is a first person and third-person shooter video game series. There are 24 games in total, not counting add-ons and DLCs. The first 8 games, excluding Modern Warfare.
                    a(href="../Tekken/Tekken.html")
                        .box
                            img(src="images/takken.jpg", alt="")
                            .text
                                h3 Tekken
                                p Tekken is one of the best fighting game series out there. This game actually popularized the 3D fighting game genre even though it wasn’t the first. Tekken 7 is the most recent release in the series and brings an exciting gameplay along with highly impressive 3D graphics.
                    a(href="../Warframe/Warframe.html")
                        .box
                            img(src="images/warframe.jpg", alt="")
                            .text
                                h3 Warframe
                                p Yet another game that you should definitely check out if you’re looking for an online PC game, Warframe is one of those titles that, even though old, have consistently received updates and new content to keep the game fresh and exciting for both newcomers and veteran players alike. In Warframe.
                    a(href="../Team-Fortress/Team-Fortress.html")
                        .box
                            img(src="images/team-forest.png", alt="")
                            .text
                                h3 Team Forest
                                p Overwatch wouldn’t have been a reality if it weren’t for Team Fortress 2. Blizzard probably won’t admit it themselves, but we all know that Overwatch was heavily inspired by Team Fortress 2 and its shenanigans.
                    a(href="../League-of-Legends/League-of-Legends.html")
                        .box
                            img(src="images/League-of-Legends.jpg", alt="")
                            .text
                                h3 League of Legends
                                p League of Legends is another one of the top MOBAs out there and it’s a direct competitor to DoTA 2. It’s a much less complex MOBA when compared to DoTA 2. League of Legends is another highly played game and has a very large esports scene backing it up which makes it another exciting game.
                    a(href="../Starcraft/Starcraft.html")
                        .box
                            img(src="images/starcraft.jpg", alt="")
                            .text
                                h3 Starcraft
                                p Starcraft II is the most played online strategy games that tests your wits and the ability to outsmart your opponent. This game is all about gathering resources, building structures, and planning your attack against the enemy. Starcraft II offers a great story mode where you get to experience the ultimate showdown between the three main races in this universe. The Terrans, the Protoss, and the zergs.
                    a(href="../World-of-Tanks/World-of-Tanks.html")
                        .box
                            img(src="images/World-of-Tanks.jpg", alt="")
                            .text
                                h3 World of Tanks
                                p Are you a lover of tank-fights? If so, World of Tanks is the perfect free online PC game for you. World of Tanks is a MMO war game that features 20th century armored vehicles including light armored vehicles, to heavy tanks and self propelled guns.
                    a(href="../Rainbow-Six-Siege/Rainbow-Six-Siege.html")
                        .box
                            img(src="images/Rainbow-Six-Siege.jpg", alt="")
                            .text
                                h3 Rainbow Six Siege
                                p Rainbow Six Siege is an online PC game that, at first glance, feels similar to Counter Strike. However, the game places a far higher importance on strategy and teamwork than most other online shooters you might have played.
                    a(href="../EVE/EVE.html")
                        .box
                            img(src="images/eve.jpg", alt="")
                            .text
                                h3 EVE Online
                                p If you like space battles, EVE Online is a must-play game for you. The MMO space battle game is full of epic battles that you can be a part of. The game is old, having released in 2003, but it’s still well worthy of being on this list.
                    a(href="../Titanfall/Titanfall.html")
                        .box
                            img(src="images/Titanfall.jpg", alt="")
                            .text
                                h3 Titanfall
                                p Electronic Arts’ Titanfall 2 may have been released in 2016, but it’s still a one of the best online PC games that you can play. In Titanfall 2, players control large robots (called Titans) with some incredible abilities including things like wall running among others.
                    a(href="../Path-of-Exile/PathofExile.html")
                        .box
                            img(src="images/PathofExile.jpg", alt="")
                            .text
                                h3 Path of Exile
                                p Path Of Exile is everything that Diablo III is not. It feels like the true successor to Diablo II and brings all the old memories back from amazing Diablo II days. Path of Exile plays and looks quite similar to Diablo II, however, it boasts much better graphics obviously.
                    a(href="../Borderlands/Borderlands.html")
                        .box
                            img(src="images/borderland.jpg", alt="")
                            .text
                                h3 Borderland
                                p Borderlands is a 2009 open world action role-playing first-person shooter video game. ... The game's story focuses on a group of four "Vault Hunters", who travel to the distant planet of Pandora to search for the "Vault", which is rumored to contain advanced alien technology and other priceless riches.
                    a(href="../Battlefield/Battlefield.html")
                        .box
                            img(src="images/Battlefield.jpg", alt="")
                            .text
                                h3 Battlefield
                                p Borderlands is a clown-fiesta that’s filled with extremely fun and exciting elements that make it a unique shooter. The game focuses on loot and grinds so much as if it were almost an MMORPG, but fortunately, it isn’t. Borderlands 3 brings all the amazing and exciting elements from the original game.
                    a(href="../star-war/star-war.html")
                        .box
                            img(src="images/star-war.jpg", alt="")
                            .text
                                h3 Star Wars Battlefront
                                p Star Wars™ Battlefront™ is the ultimate Star Wars battle experience, brought to life by the creators of Battlefield. Fight in epic Star Wars battles on iconic planets and rise through the ranks playing as the heroic Rebellion or the evil Galactic Empire.
                    a(href="../apex/apex.html")
                        .box
                            img(src="images/apex.jpg", alt="")
                            .text
                                h3 Apex Legends
                                p Apex Legends is an online multiplayer battle royale game featuring squads of three players using pre-made characters (called "Legends"), similar to those of hero shooters. Alternate modes have been introduced allowing for single and for two-player squads since the game's release.
                    a(href="../distny/distny.html")
                        .box
                            img(src="images/Destiny.jpg", alt="")
                            .text
                                h3 Destiny 2
                                p Destiny is an online-only multiplayer first-person shooter video game developed by Bungie and previously published by Activision. ... Activities in Destiny are divided among player versus environment (PvE) and player versus player (PvP) game types.
                    a(href="../cs-go/cs-go.html")
                        .box
                            img(src="images/CS-GO.png", alt="")
                            .text
                                h3 CS:GO
                                p Counter-Strike: Global Offensive (CS:GO) is a multiplayer first-person shooter video game developed by Valve and Hidden Path Entertainment. ... The game pits two teams against each other: the Terrorists and the Counter-Terrorists. Both sides are tasked with eliminating the other while also completing separate objectives.
                    a(href="../dota/dota.html")
                        .box
                            img(src="images/dota.jpg", alt="")
                            .text
                                h3 Dota 2
                                p Dota 2 is a multiplayer online battle arena (MOBA) video game in which two teams of five players compete to collectively destroy a large structure defended by the opposing team known as the "Ancient", whilst defending their own.
                    a(href="../overwatch/overwatch.html")
                        .box
                            img(src="images/overwatch.jpg", alt="")
                            .text
                                h3 Overwatch
                                p Overwatch is a team-based multiplayer first-person shooter developed and published by Blizzard Entertainment. Described as a "hero shooter", Overwatch assigns players into two teams of six, with each player selecting from a large roster of characters, known as "heroes", with unique abilities.
                    a(href="../fortnite/fortnite.html")
                        .box
                            img(src="images/fortnite.jpg", alt="")
                            .text
                                h3 Fortnite
                                p Fortnite is a survival game where 100 players fight against each other in player versus player combat to be the last one standing. It is a fast-paced, action-packed game, not unlike The Hunger Games, where strategic thinking is a must in order to survive. There are an estimated 125 million players on Fortnite.
                    a(href="../valorant/valorant.html")
                        .box
                            img(src="images/valorant.jpg", alt="")
                            .text
                                h3 Valorant
                                p Valorant is a team-based tactical shooter and first-person shooter set in the near-future. Players play as one of a set of agents, characters designed based on several countries and cultures around the world.
                    a(href="../call of duty/call-of-duty.html")
                        .box
                            img(src="images/call-of-duty.jpg", alt="")
                            .text
                                h3 Call of Duty
                                p Call Of Duty (short form: CoD) is a first person and third-person shooter video game series. There are 24 games in total, not counting add-ons and DLCs. The first 8 games, excluding Modern Warfare.

        include ../includs/FooterFile/footer.pug
        script(src="../includs/headerFile/js/toggleheader.js")
        script(src="../includs/headerFile/js/skrollr.js")
        script var s = skrollr.init();
        script(src="../includs/TitleName/check-title.js")