doctype html
html
    head
        <meta charset="UTF-8">
        <meta name="description" content="We Sale Games So Invite Your Friens And Get Fun With It Win Rewards">
        <meta name="keywords" content="ExGames, Games, Exstream Games, Exgames Home">
        <meta name="author" content="Yusuf & Mokhtar & Hager & Hadeer">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        title Home
        link(rel="stylesheet", href="css/style.css")
        link(rel="icon" href="../includs/icon-page1.jpg" sizes="96x96")
        script(src="https://kit.fontawesome.com/112897e29a.js" crossorigin="anonymous")
    body
        include ../includs/headerFile/header.pug

        //- Start Slider Box
        .slider
            img(class="overlay" src="images/slide-bg.png", alt="")
            div(class="container flexbetween")
                .content
                    h1 Buying Games
                    h1 
                       span Get Fun
                    p We put the best games for you for your enjoyment, buy, play, and win.
                    a(href="" class="global-hover") Get Started
                .image
                    img(src="images/s1.png", alt="")
        
        //- Start Member Box
        .member
            div(class="container flexbetween")
                .box
                    .image
                        img(src="images/achive1.png", alt="")
                    .text
                        h2 1200+
                        p live online
                .box
                    .image
                        img(src="images/achive2.png", alt="")
                    .text
                        h2 5119+
                        p Active Member
                .box
                    .image
                        img(src="images/achive3.png", alt="")
                    .text
                        h2 3318+
                        p daily reward

        //- Start About US Box
        include ../includs/about-us/index.pug
        
        //- Start Games Box
        .games
            .container
                div(class="heading flex-center")
                    h2 Games
                    p Log in now and buy the games you want, and don't forget to have fun with your friends.
                div(class="content flexbetween")
                    a(href="../pubg/pubg.html")
                        .box
                            img(src="games-images/pubg1.jpg", alt="")
                            .text
                                h3 Pubg
                                p PlayerUnknown's Battlegrounds (PUBG) is an online multiplayer battle royale game developed and published by PUBG Corporation, a subsidiary of South Korean video game company Bluehole.
                    a(href="../freefire/freefire.html")
                        .box
                            img(src="games-images/freefire.jpg", alt="")
                            .text
                                h3 Free Fire
                                p Game play. Garena Free Fire is an online-only action-adventure battle royale game played in a third person perspective. 
                    a(href="../call of duty/call-of-duty.html")
                        .box
                            img(src="games-images/call-of-duty.jpg", alt="")
                            .text
                                h3 Call of Duty
                                p Call Of Duty (short form: CoD) is a first person and third-person shooter video game series. There are 24 games in total, not counting add-ons and DLCs. The first 8 games, excluding Modern Warfare.
            .load-more
                .container
                    a(href="../games/index.html") load more

        //- Start Contact Box
        include ../includs/contact/contact.pug

        //- Start Partner Box
        .partner
            .container
                div(class="heading flex-center")
                    h2 Games Partner
                    p You can buy games through these currencies traded through the site.
                div(class="content flexbetween")
                    a(href="")
                        img(src="images/1.png", alt="")
                    a(href="")
                        img(src="images/2.png", alt="")
                    a(href="")
                        img(src="images/3.png", alt="")
                    a(href="")
                        img(src="images/4.png", alt="")
                    a(href="")
                        img(src="images/5.png", alt="")
        include ../includs/FooterFile/footer.pug
        script(src="../includs/headerFile/js/toggleheader.js")
        script(src="../includs/headerFile/js/skrollr.js")
        script var s = skrollr.init();