doctype html
html
    head
        title Home
        link(rel="stylesheet", href="css/style.css")
        script(src="https://kit.fontawesome.com/112897e29a.js" crossorigin="anonymous")
    body
        include ../includs/headerFile/header.pug

        //- Start Slider Box
        .slider
            img(class="overlay" src="images/slide-bg.png", alt="")
            div(class="container flexbetween")
                .content
                    h1 Buying Games <br/>
                        span WIN REWARD
                    p We develop effective plans to move your customers behaviour. customer can be alwayes his profit.
                    a(href="" class="global-hover") Get Started
                .image
                    img(src="images/s1.png", alt="")
        
        //- Start Member Box
        .member
            div(class="container flexbetween")
                .box
                    .image
                        img(src="images/achive1.png", alt="")
                    .text
                        h2 1200+
                        p live online
                .box
                    .image
                        img(src="images/achive2.png", alt="")
                    .text
                        h2 5119+
                        p Active Member
                .box
                    .image
                        img(src="images/achive3.png", alt="")
                    .text
                        h2 3318+
                        p daily reward

        //- Start About-Us Box
        .about-us
            div(class="container flexbetween")
                .left-box
                    .image
                        img(src="images/ab.jpg", alt="")
                    .text
                        p If you need know more about XGames 
                            a(href="") Click here
                .right-box
                    .box
                        .image
                            img(src="images/ab-icon.png", alt="")
                        .text
                            h2 Live Online Game
                            p Replacing a maintains the amount of lines. When replacing a selection. help agencies to define. define their new business objectives and then.
                    .box
                        .image
                            img(src="images/ab-icon2.png", alt="")
                        .text
                            h2 Instant Bonus
                            p Replacing a maintains the amount of lines. When replacing a selection. help agencies to define. define their new business objectives and then.
                    .box
                        .image
                            img(src="images/ab-icon6.png", alt="")
                        .text
                            h2 Live Support
                            p Replacing a maintains the amount of lines. When replacing a selection. help agencies to define. define their new business objectives and then.
        //- Start Games Box
        .games
            .container
                div(class="heading flex-center")
                    h2 Games
                    p Dummy text is also used to demonstrate the appearance of different typefaces and layouts
                div(class="content flexbetween")
                    .box
                        img(src="https://wallpapercave.com/wp/wp4368683.jpg", alt="")
                        .text
                            h3 Game Name
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita a sunt quos ab nisi obcaecati reprehenderit natus perferendis, voluptatem maxime iusto totam.
                    .box
                        img(src="https://wallpapercave.com/wp/wp4983330.jpg", alt="")
                        .text
                            h3 Game Name
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita a sunt quos ab nisi obcaecati reprehenderit natus perferendis, voluptatem maxime iusto totam.
                    .box
                        img(src="https://wallpapercave.com/wp/wp4705314.jpg", alt="")
                        .text
                            h3 Game Name
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita a sunt quos ab nisi obcaecati reprehenderit natus perferendis, voluptatem maxime iusto totam.
            .load-more
                .container
                    a(href="") load more
        include ../includs/FooterFile/footer.pug
        script(src="../includs/headerFile/js/toggleheader.js")