doctype html
html
    head
        title Home
        link(rel="stylesheet", href="css/style.css")
        link(rel="icon" href="../includs/icon-page1.jpg" sizes="96x96")
        script(src="https://kit.fontawesome.com/112897e29a.js" crossorigin="anonymous")
    body
        include ../includs/headerFile/header.pug

        //- Start Slider Box
        .slider
            img(class="overlay" src="images/slide-bg.png", alt="")
            div(class="container flexbetween")
                .content
                    h1 Buying Games
                    h1 
                       span Get Fun
                    p We put the best games for you for your enjoyment, buy, play, and win.
                    a(href="" class="global-hover") Get Started
                .image
                    img(src="images/s1.png", alt="")
        
        //- Start Member Box
        .member
            div(class="container flexbetween")
                .box
                    .image
                        img(src="images/achive1.png", alt="")
                    .text
                        h2 1200+
                        p live online
                .box
                    .image
                        img(src="images/achive2.png", alt="")
                    .text
                        h2 5119+
                        p Active Member
                .box
                    .image
                        img(src="images/achive3.png", alt="")
                    .text
                        h2 3318+
                        p daily reward

        //- Start About US Box
        include ../includs/about-us/index.pug
        
        //- Start Games Box
        .games
            .container
                div(class="heading flex-center")
                    h2 Games
                    p Log in now and buy the games you want, and don't forget to have fun with your friends.
                div(class="content flexbetween")
                    a(href="")
                        .box
                            img(src="https://wallpapercave.com/wp/wp4368683.jpg", alt="")
                            .text
                                h3 Game Name
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita a sunt quos ab nisi obcaecati reprehenderit natus perferendis, voluptatem maxime iusto totam.
                    a(href="")
                        .box
                            img(src="https://wallpapercave.com/wp/wp4983330.jpg", alt="")
                            .text
                                h3 Game Name
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita a sunt quos ab nisi obcaecati reprehenderit natus perferendis, voluptatem maxime iusto totam.
                    a(href="")
                        .box
                            img(src="https://wallpapercave.com/wp/wp4705314.jpg", alt="")
                            .text
                                h3 Game Name
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita a sunt quos ab nisi obcaecati reprehenderit natus perferendis, voluptatem maxime iusto totam.
            .load-more
                .container
                    a(href="../games/index.html") load more

        //- Start Contact Box
        include ../includs/contact/contact.pug

        //- Start Partner Box
        .partner
            .container
                div(class="heading flex-center")
                    h2 Games Partner
                    p You can buy games through these currencies traded through the site.
                div(class="content flexbetween")
                    a(href="")
                        img(src="images/1.png", alt="")
                    a(href="")
                        img(src="images/2.png", alt="")
                    a(href="")
                        img(src="images/3.png", alt="")
                    a(href="")
                        img(src="images/4.png", alt="")
                    a(href="")
                        img(src="images/5.png", alt="")
        include ../includs/FooterFile/footer.pug
        script(src="../includs/headerFile/js/toggleheader.js")