doctype html
html
    head
        <meta charset="UTF-8">
        <meta name="description" content="Borderlands is a clown-fiesta that’s filled with extremely fun and exciting elements that make it a unique shooter. The game focuses on loot and grinds so much as if it were almost an MMORPG, but fortunately, it isn’t. Borderlands 3 brings all the amazing and exciting elements from the original game.">
        <meta name="keywords" content="ExGames, Battlefield">
        <meta name="author" content="Yusuf & Mokhtar & Hager & Hadeer">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        title Battlefield
        link(rel="stylesheet", href="css/style.css")
        link(rel="icon" href="../includs/icon-page1.jpg" sizes="96x96")
        script(src="https://kit.fontawesome.com/112897e29a.js" crossorigin="anonymous")
    body
        include ../includs/headerFile/header.pug

        //- Start Slider Box
        div(class="slider")
            .overlay
            div(class="container flex align-center")
                .content
                    h1.check-heading-page
                    p Home 
                        i(class="fas fa-chevron-right")
                        |Games
                        i(class="fas fa-chevron-right")
                        span.check-text-page
        .game
            .container
                div(class="head flex align-center")
                    .image
                        img(src="images/icon.jpg", alt="")
                    .text
                        h3 Battlefield
                        .stars
                            i(class="fas fa-star")
                            i(class="fas fa-star")
                            i(class="fas fa-star")
                            i(class="far fa-star")
                            i(class="far fa-star")
                .details
                    p Borderlands is a clown-fiesta that’s filled with extremely fun and exciting elements that make it a unique shooter. The game focuses on loot and grinds so much as if it were almost an MMORPG, but fortunately, it isn’t. Borderlands 3 brings all the amazing and exciting elements from the original game.
                .link
                    a(class="global-hover" download="images/slider.jpg" href="data:application/octet-stream;base64,PD94ANDSOON") Download

        include ../includs/FooterFile/footer.pug
        
        script(src="../includs/headerFile/js/toggleheader.js")
        script(src="../includs/headerFile/js/skrollr.js")
        script var s = skrollr.init();
        script(src="js/toggle.js")
        script(src="js/setting.js")
        script(src="../includs/TitleName/check-title.js")
