.contact
    .container
        div(class="heading flex-center")
            h2 Contact Us
        form(action="" class="flexbetween")
            input(type="text" name="username-contact" placeholder="Your Name")
            input(type="text" name="email-contact" placeholder="Your Email")
            textarea(name="message" placeholder="Your Message")
            button(name="submit-contact" type="submit" class="global-hover") Send Message
