//- Start Header Box
header
    //- Start info Box
    .info
        div(class="container flexbetween align-center")
            div(class="left-box flex")
                a(href="" class="flex align-center")
                    i(class="far fa-envelope")
                    | info@xgames.com
                a(href="")
                    i(class="far fa-clock")
                    | Live Support
            div(class="right-box flex align-center")
                div(class="bouns-box flex align-center")
                    <i class="fas fa-dollar-sign"></i> 
                    |0
                ul.parent
                    li
                        a(href="")
                            img(src="../includs/headerFile/w1.png", alt="")
                            | English
                            i(class="fas fa-chevron-down")
                        ul
                            li
                                a(href="") 
                                    img(src="../includs/headerFile/w2.png", alt="")
                                    | Deutsch
                            li 
                                a(href="") 
                                    img(src="../includs/headerFile/w3.png", alt="")
                                    | Español
                            li 
                                a(href="") 
                                    img(src="../includs/headerFile/w4.png", alt="")
                                    | Français
                            li 
                                a(href="") 
                                    img(src="../includs/headerFile/w5.png", alt="")
                                    | العربية
                .logout
                    a(href="") logout
    //- Start nav Box
    nav
        div(class="container flexbetween align-center")
            .logo
                a(href="#")
                    h2(class="flex align-center")
                        span x
                        | games
            ul(class="main-ul flexbetween")
                li
                    a(href="../home/home.html") home
                li
                    a(href="../games/index.html") games
                li
                    a(href="") pages
                        ul
                            li 
                                a(href="../about-us/about-us.html") about us
                            li 
                                a(href="../team/team.html") team
                            li 
                                a(href="../faq/faq.html") faq
                            li 
                                a(href="../terms/terms.html") terms & Conditions

                li
                    a(href="../contact/contact.html") Contact
                li
                    a(href="../setting/setting.html") Settings
                li.join
                    a(href="../sign-up-page/sign-up.html" class= "global-hover") join now
            .toggle-button
                i(class="fas fa-bars")
            .toggle
                div(class="logo flexbetween align-center")
                    a(href="#")
                        h2 
                            span x
                            | games
                    .toggle-time
                        i(class="fas fa-times")
                ul(class="toggle-ul flex")
                    a(href="../home/home.html")
                        li home
                    a(href="../games/index.html")
                        li games
                    a(href="../about-us/about-us.html")
                        li about us
                    a(href="../team/team.html")
                        li team
                    a(href="../faq/faq.html")
                        li faq
                    a(href="../terms/terms.html")
                        li terms & conditions
                    a(href="../setting/setting.html")
                        li setting
                    a(href="../sign-up-page/sign-up.html")
                        li join now
    .check-login
        div(class="container flexbetween align-center")
            p You have to login first to download any game
            i(class="fas fa-times button-warnning")