@import url(../../includs/FooterFile/css/footerstyle.css);
@import url(../../includs/headerFile/css/headerstyle.css);
@import url(../../includs/slider-pages/css/style.css);
@import url(../../includs/games/css/style.css);
@import url(../../globalrules/framework.css);

$maintextcolor: #D64481;
$first-bg-color:#171627;
$second-bg-color: #131222;

.games {
    background: $second-bg-color !important;
    img {
        height: 200px;
    }
}