doctype html
html
    head
        <meta charset="UTF-8">
        <meta name="description" content="Yet another game that you should definitely check out if you’re looking for an online PC game, Warframe is one of those titles that, even though old, have consistently received updates and new content to keep the game fresh and exciting for both newcomers and veteran players alike. In Warframe, you control the members of a clan that have woken up from cryosleep to find themselves at war with multiple space-clans.">
        <meta name="keywords" content="ExGames, Warframe">
        <meta name="author" content="Yusuf & Mokhtar & Hager & Hadeer">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        title Warframe
        link(rel="stylesheet", href="css/style.css")
        link(rel="icon" href="../includs/icon-page1.jpg" sizes="96x96")
        script(src="https://kit.fontawesome.com/112897e29a.js" crossorigin="anonymous")
    body
        include ../includs/headerFile/header.pug

        //- Start Slider Box
        div(class="slider")
            .overlay
            div(class="container flex align-center")
                .content
                    h1.check-heading-page
                    p Home 
                        i(class="fas fa-chevron-right")
                        |Games
                        i(class="fas fa-chevron-right")
                        span.check-text-page
        .game
            .container
                div(class="head flex align-center")
                    .image
                        img(src="images/icon.jpg", alt="")
                    .text
                        h3 Warframe
                        .stars
                            i(class="fas fa-star")
                            i(class="fas fa-star")
                            i(class="fas fa-star")
                            i(class="fas fa-star")
                            i(class="far fa-star")
                .details
                    p Yet another game that you should definitely check out if you’re looking for an online PC game, Warframe is one of those titles that, even though old, have consistently received updates and new content to keep the game fresh and exciting for both newcomers and veteran players alike. In Warframe, you control the members of a clan that have woken up from cryosleep to find themselves at war with multiple space-clans.
                .link
                    a(class="global-hover" download="images/slider.jpg" href="data:application/octet-stream;base64,PD94ANDSOON") Download

        include ../includs/FooterFile/footer.pug
        
        script(src="../includs/headerFile/js/toggleheader.js")
        script(src="../includs/headerFile/js/skrollr.js")
        script var s = skrollr.init();
        script(src="js/toggle.js")
        script(src="js/setting.js")
        script(src="../includs/TitleName/check-title.js")
