doctype html
html
    head
        title Pubg
        link(rel="stylesheet", href="css/style.css")
        link(rel="icon" href=        script(src="../TitleName/check-title.js")"../icon-page1.jpg" sizes="96x96")
        script(src="https://kit.fontawesome.com/112897e29a.js" crossorigin="anonymous")
    body
        include ../headerFile/header.pug

        include ../FooterFile/footer.pug
        script(src="../headerFile/js/toggleheader.js")
        script(src="../headerFile/js/skrollr.js")
        script var s = skrollr.init();
