footer
    div(class="container flexbetween")
        .box-1
            a(href="#")
                h2(class="flex align-center")
                    span x
                    | games
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi eligendi, iusto, consequatur non voluptates, dolores eius enim quisquam nulla quae mollitia deserunt at modi tempora facilis ratione tenetur repellat molestias?
            form(action="")
                input(type="text" name="search" placeholder="User Name")
                button.global-hover @
        .box
            h3 game list
            a(href="")
                i(class="far fa-check-circle")
                | Disks game
            a(href="")
                i(class="far fa-check-circle")
                | Lopester
            a(href="")
                i(class="far fa-check-circle")
                | Gangstar
            a(href="")
                i(class="far fa-check-circle")
                | Royal casino
            a(href="")
                i(class="far fa-check-circle")
                | Align fight
            a(href="")
                i(class="far fa-check-circle")
                | Black night

        .box
            h3 company
            a(href="")
                i(class="far fa-check-circle")
                | Social media
            a(href="")
                i(class="far fa-check-circle")
                | Transition
            a(href="")
                i(class="far fa-check-circle")
                | Promotion
            a(href="")
                i(class="far fa-check-circle")
                | Events
            a(href="")
                i(class="far fa-check-circle")
                | Services
            a(href="")
                i(class="far fa-check-circle")
                | About us

        .box
            h3 account
            a(href="")
                i(class="far fa-check-circle")
                | Ripple coin
            a(href="")
                i(class="far fa-check-circle")
                | Bitcoin
            a(href="")
                i(class="far fa-check-circle")
                | Ethireum
            a(href="")
                i(class="far fa-check-circle")
                | Light coin
            a(href="")
                i(class="far fa-check-circle")
                | Coin base
            a(href="")
                i(class="far fa-check-circle")
                | Gold Coin

        .box
            h3 support
            a(href="")
                i(class="far fa-check-circle")
                | Customer Care
            a(href="")
                i(class="far fa-check-circle")
                | Live Chat
            a(href="")
                i(class="far fa-check-circle")
                | Notification
            a(href="")
                i(class="far fa-check-circle")
                | Privacy
            a(href="")
                i(class="far fa-check-circle")
                | Terms & Condtions
            a(href="")
                i(class="far fa-check-circle")
                | Contact us
.copy-right
    .container
        p
            | Copyright © 2020 
            span
                | xgames 
            | All Rights Reserved
        p Design By Hager-Mokhtar-Yusuf-Hadeer