div(class="slider flex flex-wrap align-center")
    .overlay
    div(class="container")
        h1.check-heading-page Check it
        .content
            p Home 
                i(class="fas fa-chevron-right")
                span.check-text-page Check